File Pull - This imports the pandas library and pulls in the csv data as a data frame import pandas as pd

In [12]:
import pandas as pd
path="Resources\purchase_data.csv" 
purchase_df = pd.read_csv(path) 
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count - This displays the total number of players

In [13]:
SN_Counts = purchase_df["SN"].nunique()
Total_Player_DF = pd.DataFrame({"Total_Players":[SN_Counts]})
Total_Player_DF

   Total_Players
0            576

Purchasing Analysis - This displays: # of Unique Items, Average Price, Number of Purchases, Total Revenue

In [14]:
Unique_Items = purchase_df["Item ID"].nunique()
Average_Price = purchase_df["Price"].mean()
Num_Purchases = purchase_df["Purchase ID"].count()
Total_Revenue = purchase_df["Price"].sum()

Summary_Tbl_Df = pd.DataFrame({"Number of Unique Items": [Unique_Items], "Average Price": [Average_Price], "Number of Purchases": [Num_Purchases], "Total Revenue": [Total_Revenue] }
)
Summary_Tbl_Df["Average Price"] = Summary_Tbl_Df["Average Price"].map("${:.2f}".format)
Summary_Tbl_Df["Total Revenue"] = Summary_Tbl_Df["Total Revenue"].map("${:.2f}".format)
Summary_Tbl_Df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

Gender Demographics - This displays the count and percent of Male, Female, Other/Non-Disclosed

In [15]:
#This can be simplified may comeback

grouped_df = purchase_df.groupby(purchase_df["Gender"])

total_by_gender = grouped_df.nunique()
total_by_gender = total_by_gender.rename(columns={"SN": "Total Count"})
total_by_gender = total_by_gender["Total Count"]

percent_by_gender = (grouped_df.nunique()/purchase_df["SN"].nunique())*100
percent_by_gender = percent_by_gender.rename(columns={"SN": "Percent of Players"})
percent_by_gender = percent_by_gender["Percent of Players"].map("{:.2f}%".format)

Gender_Demographics_df = pd.concat([total_by_gender,percent_by_gender], axis=1)
Gender_Demographics_df.sort_values("Percent of Players", ascending=False)

                       Total Count Percent of Players
Gender
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%

Purchasing Analysis (Gender) - Summarizes Purchases, Price and Total by Gender

In [16]:
purchase_count = grouped_df["Purchase ID"].count()
average_pur_price = grouped_df["Price"].mean()
total_pur_value = grouped_df["Price"].sum()
avg_per_person = total_pur_value / total_by_gender

purchasing_analysis_df = pd.concat([purchase_count,average_pur_price,total_pur_value,avg_per_person], axis=1)
purchasing_analysis_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person" ]
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Purchase Value"] = purchasing_analysis_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_analysis_df["Avg Total Purchase per Person"] = purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

Age Demographics - This will show count and percent by age bracket

In [17]:
bins = [0, 9, 14, 19, 24, 29 ,34, 39, 999]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#This adds the grouping bracket
purchase_df["Age Bracket"] = pd.cut(purchase_df["Age"],bins,labels=labels, include_lowest=True)


age_group = purchase_df.groupby(purchase_df["Age Bracket"])

age_count = age_group["SN"].nunique()
age_percent = age_count/age_count.sum()*100

age_demo_df = pd.concat([age_count, age_percent], axis=1)
age_demo_df.columns = ["Total Count", "Percentage of Players"]
age_demo_df["Percentage of Players"]=age_demo_df["Percentage of Players"].map("{:.2f}%".format)
age_demo_df

             Total Count Percentage of Players
Age Bracket
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

Purchasing Analysis (Age) - This shows summary stats by age bracket

In [18]:
purchase_count = age_group["Purchase ID"].count()
average_pur_price = age_group["Price"].mean()
total_pur_value = age_group["Price"].sum()
avg_per_person = total_pur_value / age_count

age_analysis_df = pd.concat([purchase_count,average_pur_price,total_pur_value,avg_per_person], axis=1)
age_analysis_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person" ]
age_analysis_df["Average Purchase Price"] = age_analysis_df["Average Purchase Price"].map("${:.2f}".format)
age_analysis_df["Total Purchase Value"] = age_analysis_df["Total Purchase Value"].map("${:.2f}".format)
age_analysis_df["Avg Total Purchase per Person"] = age_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bracket,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

Top Spenders - This shows the top spender information

In [19]:
sn_group = purchase_df.groupby(purchase_df["SN"])

individual_purchase = sn_group["SN"].count()
individual_average = sn_group["Price"].mean()
individual_total = individual_purchase*individual_average

individual_df = pd.concat([individual_purchase,individual_average,individual_total], axis=1)
individual_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]

top_five_df = individual_df.sort_values("Total Purchase Value", ascending=False).head(5)
top_five_df["Average Purchase Price"] = top_five_df["Average Purchase Price"].map("${:.2f}".format)
top_five_df["Total Purchase Value"] = top_five_df["Total Purchase Value"].map("${:.2f}".format)
top_five_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

Most Popular Items - This shows the most popular items sorted by ID and name

In [20]:
item_df = purchase_df[["Item ID","Item Name","Price"]]
item_df = item_df.groupby(["Item ID","Item Name"])

purchase_count = item_df.count()
purchase_price = item_df.mean()
total_value = purchase_count*purchase_price

item_sum_df = pd.concat([purchase_count,purchase_price,total_value], axis=1)
item_sum_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]

top_five_item_df = item_sum_df.sort_values("Purchase Count", ascending =False).head(5)
top_five_item_df["Average Purchase Price"] = top_five_item_df["Average Purchase Price"].map("${:.2f}".format)
top_five_item_df["Total Purchase Value"] = top_five_item_df["Total Purchase Value"].map("${:.2f}".format)
top_five_item_df

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

Most Profitable Items

In [21]:
top_profit_item_df = item_sum_df.sort_values("Total Purchase Value", ascending =False).head(5)
top_profit_item_df["Average Purchase Price"] = top_profit_item_df["Average Purchase Price"].map("${:.2f}".format)
top_profit_item_df["Total Purchase Value"] = top_profit_item_df["Total Purchase Value"].map("${:.2f}".format)
top_profit_item_df

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80