File Pull - This imports the pandas library and pulls in the csv data as a data frame import pandas as pd

In [2]:
import pandas as pd
path="Resources\purchase_data.csv" 
purchase_df = pd.read_csv(path) 
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count - This displays the total number of players

In [3]:
SN_Counts = purchase_df["SN"].nunique()
Total_Player_DF = pd.DataFrame({"Total_Players":[SN_Counts]})
Total_Player_DF

   Total_Players
0            576

Purchasing Analysis - This displays: # of Unique Items, Average Price, Number of Purchases, Total Revenue

In [4]:
Unique_Items = purchase_df["Item ID"].nunique()
Average_Price = purchase_df["Price"].mean()
Num_Purchases = purchase_df["Purchase ID"].count()
Total_Revenue = purchase_df["Price"].sum()

Summary_Tbl_Df = pd.DataFrame({"Number of Unique Items": [Unique_Items], "Average Price": [Average_Price], "Number of Purchases": [Num_Purchases], "Total Revenue": [Total_Revenue] }
)
Summary_Tbl_Df["Average Price"] = Summary_Tbl_Df["Average Price"].map("${:.2f}".format)
Summary_Tbl_Df["Total Revenue"] = Summary_Tbl_Df["Total Revenue"].map("${:.2f}".format)
Summary_Tbl_Df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

Gender Demographics - This displays the count and percent of Male, Female, Other/Non-Disclosed

In [5]:
grouped_df = purchase_df.groupby(purchase_df["Gender"])

total_by_gender = grouped_df.nunique()
total_by_gender = total_by_gender.rename(columns={"SN": "Total Count"})
total_by_gender = total_by_gender["Total Count"]

percent_by_gender = (grouped_df.nunique()/purchase_df["SN"].nunique())*100
percent_by_gender = percent_by_gender.rename(columns={"SN": "Percent of Players"})
percent_by_gender = percent_by_gender["Percent of Players"].map("{:.2f}%".format)

Gender_Demographics_df = pd.concat([total_by_gender,percent_by_gender], axis=1)
Gender_Demographics_df.sort_values("Percent of Players", ascending=False)

                       Total Count Percent of Players
Gender
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%