File Pull - This imports the pandas library and pulls in the csv data as a data frame import pandas as pd

In [2]:
import pandas as pd
path="Resources\purchase_data.csv" 
purchase_df = pd.read_csv(path) 
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count - This displays the total number of players

In [3]:
SN_Counts = purchase_df["SN"].nunique()
Total_Player_DF = pd.DataFrame({"Total_Players":[SN_Counts]})
Total_Player_DF

   Total_Players
0            576

Purchasing Analysis - This displays: # of Unique Items, Average Price, Number of Purchases, Total Revenue

In [4]:
Unique_Items = purchase_df["Item ID"].nunique()
Average_Price = purchase_df["Price"].mean()
Num_Purchases = purchase_df["Purchase ID"].count()
Total_Revenue = purchase_df["Price"].sum()

Summary_Tbl_Df = pd.DataFrame({"Number of Unique Items": [Unique_Items], "Average Price": [Average_Price], "Number of Purchases": [Num_Purchases], "Total Revenue": [Total_Revenue] }
)
Summary_Tbl_Df["Average Price"] = Summary_Tbl_Df["Average Price"].map("${:.2f}".format)
Summary_Tbl_Df["Total Revenue"] = Summary_Tbl_Df["Total Revenue"].map("${:.2f}".format)
Summary_Tbl_Df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

Gender Demographics - This displays the count and percent of Male, Female, Other/Non-Disclosed

In [22]:
#This can be simplified may comeback

grouped_df = purchase_df.groupby(purchase_df["Gender"])

total_by_gender = grouped_df.nunique()
total_by_gender = total_by_gender.rename(columns={"SN": "Total Count"})
total_by_gender = total_by_gender["Total Count"]

percent_by_gender = (grouped_df.nunique()/purchase_df["SN"].nunique())*100
percent_by_gender = percent_by_gender.rename(columns={"SN": "Percent of Players"})
percent_by_gender = percent_by_gender["Percent of Players"].map("{:.2f}%".format)

Gender_Demographics_df = pd.concat([total_by_gender,percent_by_gender], axis=1)
Gender_Demographics_df.sort_values("Percent of Players", ascending=False)

                       Total Count Percent of Players
Gender
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%

Purchasing Analysis (Gender) - Summarizes Purchases, Price and Total by Gender

In [66]:
purchase_count = grouped_df["Purchase ID"].count()


average_pur_price = grouped_df["Price"].mean()


total_pur_value = grouped_df["Price"].sum()


avg_per_person = total_pur_value / total_by_gender


purchasing_analysis_df = pd.concat([purchase_count,average_pur_price,total_pur_value,avg_per_person], axis=1)
purchasing_analysis_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person" ]
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Purchase Value"] = purchasing_analysis_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_analysis_df["Avg Total Purchase per Person"] = purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

Age Demographics - This will show count and percent by age bracket

In [ ]:
g